@model followalong2.Models.ProductModel

@{ 
    var s = Model.Name;
    var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://loremflickr.com/320/240/@firstWord?lock=@Model.Id" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Html.DisplayFor(m => Model.Price)</p>
        <p class="card-text">@Model.Description</p>
        <a href="/product/ShowDetails/@Model.Id" class="btn btn-primary">Show Details</a>
        <a href="/product/Edit/@Model.Id" class="btn btn-warning">Edit</a>
        <a href="/product/Delete/@Model.Id" class="btn btn-danger">Delete</a>
        <!-- Button trigger modal -->
        <button type="button" value="@Model.Id" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
            Modal Edit
        </button>
    </div>
</div>